
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

#Ubuntu {
  font-family: "Ubuntu", sans-serif;
  color: #B4AD9E;
  font-size: 14px;
}

section {
  color: #626262;
}

li > a {
  text-decoration: none;
  color: #7D7D7D;
}

a:hover {
  color: #03A9F4;
}

button {
  background-color: #ffffff;
  color: #626262;
  border: 1px solid #626262;
  padding: 10px 20px;
  font-size: 14px;
}
