.photoblog_nav {
  width: 555px;
  height: 100%;
  display: flex;
  gap: 100px;
  margin: 71px auto 92px auto;
}

.container {
  max-width: 906px;
  display: flex;
  margin: 0 auto;
  gap: 65px;
  justify-content: space-between;
  flex-wrap: wrap;
}

html {
  font-size: 14px;
}

/*portholio navigation*/

.nav-item {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  color: #7d7d7d;
}

.nav-item:hover {
  color: #03a9f4;
}

/*portholio section*/

.card {
  width: calc((100% - 65px) / 2);
  height: 516px;
  display: flex;
  flex-direction: column;
}

main .cards:nth-child(2) .card {
  padding: 130px 0 130px 0;
}

.card img {
  width: 420px;
  height: 280px;
}

.card-title1 {
  font-family: "Ubuntu", serif;
  font-size: 1rem;
  font-weight: 300;
  color: #b4ad9e;
  margin-top: 62px;
}

.card-title2 {
  font-family: "Playfair Display", serif;
  font-size: 2.14rem;
  font-weight: 400;
  color: #626262;
  margin-top: 32px;
}

.card-text {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 400;
  color: #626262;
  margin-top: 40px;
}

/*photoblog section button*/

.button {
  width: 165px;
  height: 60px;
  border: #626262 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: "Playfair Display", serif;
  color: #626262;
  font-weight: 400;
  margin: 90px auto 140px auto;
}
